asgiref
astroid
autopep8
black
colorama
Django
et-xmlfile
isort
lazy-object-proxy
mccabe
mypy-extensions
mysqlclient
numpy
packaging
pandas
pathspec
Pillow
platformdirs
pycodestyle
pylint
python-dateutil
python-decouple
pytz
six
sqlparse
toml
tomli
tomlkit
typing_extensions
tzdata
Unipath
wfastcgi
whitenoise
wrapt
