{% extends 'layouts/base.html' %}

{% block title %} Kontak {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <row>
        <div class="col-md-10 mx-auto">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row pt-3 pb-3">
                  <h1 class="ml-3 text-primary">Silahkan Hubungi Kami... </h1>
                  <img class="img-fluid text-left icon-kontak" src="/static/assets/img/icons/ext.png" alt="">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive ">
                    <table class="tablemargin text-center">
                      <thead class="table-head-bg">
                        <tr>
                            <th>Informasi Yang Mungkin Anda Butuhkan</th> 
                            <th>No.Ext</th>
                            <th>PIC</th>
                            <th>Section</th>
                        </tr>
                      </thead>
                      <tbody class="background-table-kontak">
                        <tr class="blank-row">
                          <td colspan="4"></td> <!-- Use colspan to span across all columns -->
                        </tr>
                        <tr class="mt-3">
                          <td class="withborder text-left ">
                            Flow & Sistem Recruitment, Lowongan staff yang tersedia,<br>
                            Penilaian Performance Appraisal (PA)
                          </td>
                          <td class="withborder align-top">
                            241 <br>262
                          </td>
                          <td class="withborder">
                            Lucky (Spv), Rieta,<br>
                            Anisah
                          </td>
                          <td class="withborder">
                            Recruitment & Selection
                          </td>
                        </tr> 
                        <tr class="blank-row">
                          <td colspan="4"></td> <!-- Use colspan to span across all columns -->
                        </tr>
                        <tr>
                          <td class="text-left withborder">
                            Jadwal Training, Pendaftaran Training, Kaizen Teian, Aktivitas <br>
                            Promosi, Seleksi Karyawan Teladan, E-CPP
                          </td>
                          <td class="withborder">
                            257 <br>252
                          </td>
                          <td class="withborder">
                            Ari (Spv), Puspa <br>
                            Boby, Husni
                          </td>
                          <td class="withborder">
                            Training & Development
                          </td>
                        </tr>
                        <tr class="blank-row">
                          <td colspan="4"></td> <!-- Use colspan to span across all columns -->
                        </tr>
                        <tr>
                          <td class="text-left withborder">
                            Penjaminan pengobatan, BPJS Kesehatan, Perubahan data <br>
                            terbaru karyawan, Sumbangan suka/ duka cita, Layanan Klinik<br>
                            Perusahaan.<br>
                            Fasilitas bus antar jemput karyawan, klaim asuransi kecelakaan,<br>
                            event olahraga dan internal event lainnya.<br>
                            Fasilitas kantin, kredit sepeda motor, kendaraan operasional,<br>
                            pengajuan permintaan soft drink. Pemeliharaan mesin fotocopy
                          </td>
                          <td class="withborder align-middle" >
                            217<br>
                            261<br>
                            256
                          </td>
                          <td class="withborder align-middle">
                            Linda (Spv), Rizkia<br>
                            Rudi<br>
                            Wisna, Tania                            
                          </td>
                          <td class="withborder">
                            Medical & Welfare
                          </td>
                        </tr>
                        <tr class="blank-row">
                          <td colspan="4"></td> <!-- Use colspan to span across all columns -->
                        </tr>
                        <tr>
                          <td class="text-left withborder ">
                            Pembuatan agreement, Pengurusan Perizinan dan Legalitas <br> 
                            Pengajuan paspor dan visa, Perizinan Tenaga Kerja Asing, <br> 
                            Kode Etik dan Perjanjian Kerja Bersama (PKB),<br> 
                            Peraturan perundang-undangan<br> 
                          </td>
                          <td class="withborder middle">
                            239 <br>243
                          </td>
                          <td class="withborder middle">
                            Gilang (Spv)<br>
                            Bayu, Mira                            
                          </td>
                          <td class="withborder">
                            Legal & Industrial Relation
                          </td>
                        </tr>
                        <tr class="blank-row">
                          <td colspan="4"></td> <!-- Use colspan to span across all columns -->
                        </tr>

                        <tr>
                          <td class="text-left withborder">
                            Absensi, Abnormal Mesin Absen, Registrasi Absensi Karyawan,<br>
                            Planning Shift, ESS & RGS, Waktu Kerja. <br>
                            Perhitungan Lembur, konfirmasi penerimaan gaji, Informasi<br>
                            Nomor Kepesertaan BPJS TK.
                          </td>
                          <td class="withborder middle">
                            226 <br>
                            240 <br>
                            244
                          </td>
                          <td class="withborder middle">
                            Sekar <br>
                            Amanda, Era <br>
                            Milla, Triana                     
                          </td>
                          <td class="withborder">
                            Payroll & Administration
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <img class="img-fluid text-left ml-2 icon-kontak" src="/static/assets/img/icons/maps.png" alt="">
                <h1 class="text-primary ">Main Office Lantai 1</h1>
              </div>
            </div>
          </div>
        </div>
      </row>
      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
  
  
    </div>
    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
