{% extends 'layouts/base.html' %}

{% block title %} Error 403 - Akses Ditolak {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% load static %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; background-color: #fff;">
        <div class="text-center">
            <img src="{% static 'assets/img/excp/403.png' %}" alt="Error 403" class="img-fluid">
            <p style="font-size: 18px; font-weight: bold; color: #385A64; margin-top: 20px;">
                Akses ditolak. Anda tidak memiliki izin untuk mengakses halaman ini.
            </p>
            <a href="{% url 'login' %}" class="btn btn-outline-danger mt-3">Login</a>
            <a href="/" class="btn btn-primary mt-3 ml-2">Kembali ke Beranda</a>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
