{% extends 'layouts/base.html' %}

{% block title %} Error 500 - Terjadi Kesalahan {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% load static %} 
    <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh; background-color: #fff;">
        <div class="text-center">
            <img src="{% static 'assets/img/excp/500.png' %}" alt="Error 500" class="img-fluid">
            <p style="font-size: 16px; font-weight: bold; color: #385A64; margin-top: 20px;">
                Mohon maaf, terjadi kesalahan pada sistem kami. Kami sedang berusaha memperbaiki masalah ini secepat mungkin. Silakan coba lagi nanti.
            </p>
            <a href="/" class="btn btn-primary mt-3">Kembali ke Beranda</a>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
