{% extends 'layouts/base.html' %}

{% block title %} Details {% endblock %}

<!-- Specific CSS goes here -->
{% block stylesheets %}{% endblock %}

{% block content %}
<div class="container-fluid mt-6 bg-white" style="margin-bottom: 20em;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card card-stats">
                <!-- model_detail.html -->
                <div class="card-body">
                    <h2 class="text-dark">
                        {% if model_type == 'prosedur' %}
                            Detail Prosedur
                        {% elif model_type == 'aturan' %}
                            Detail Aturan
                        {% else %}
                            Detail Unknown
                        {% endif %}
                    </h2>
                    <table class="table">
                        <tbody>
                            {% if model_type == "prosedur" %}
                                <tr>
                                    <th class="table-head-bg" scope="row">Nama Prosedur</th>
                                    <td class="td-row-custom">{{ instance.nama }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Kategori Prosedur</th>
                                    <td class="td-row-custom">{{ instance.kategori }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Deskripsi</th>
                                    <td class="td-row-custom">{{ instance.deskripsi }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Download File</th>
                                    <td class="td-row-custom">
                                        <a href="{% url 'download_file_prosedur' instance.id %}" class="btn btn-primary mb-1">
                                            <i class="fas fa-download"></i> Download File
                                        </a>
                                    </td>
                                </tr>
                            {% elif model_type == "aturan" %}
                                <tr>
                                    <th class="table-head-bg" scope="row">Judul Aturan</th>
                                    <td class="td-row-custom">{{ instance.judul }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Deskripsi</th>
                                    <td class="td-row-custom">{{ instance.deskripsi }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Kategori Aturan</th>
                                    <td class="td-row-custom">{{ instance.kategori }}</td>
                                </tr>
                                <tr>
                                    <th class="table-head-bg" scope="row">Download File</th>
                                    <td class="td-row-custom">
                                        <a href="{% url 'aturan_download' instance.id %}" class="btn btn-primary mb-1">
                                            <i class="fas fa-download"></i> Download File
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Unknown model type.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
</div>

{% include "includes/footer.html" %}
{% endblock %}
