{% extends 'layouts/base.html' %}

{% block title %} Tim Kami {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    

    <!-- Page content -->
    <div class="row bg-white">
      <img src="/static/assets/img/theme/banner-heada-green.png" class="img-fluid banner-image-head" alt="...">
      <div class="col-md-4 text-left ml-1 align-middle">
        <h1 class="text-banner-head bg-white ">Meet Our Team</h1>
      </div>
    </div>
      
    <div class="container ml--5">
      <!-------------------- GM  -------------------->
      <div class="row">
	  <!--
        <div class="col-md-6">
          <div class="row">
            <h1 class="card3-man-title" style="margin-left: 100px;">General Manager</h1>
          </div>
          <div class="row">
		  
            <div style="margin-left: 100px;">
              <div class="card3">
			  
                <img
                  class="card3__background"
                  src="/static/assets/img/theme/TIM/hrdendah.jpg"
                  alt=""
                />
                <div class="card3__content | flow">
                  <div class="card3__content--container | flow">
                     <h2 class="card3__title">Lucky</h2>
                    <h2 class="card3__title"></h2>
                    <p class="card3__description">
                      <span style="font-size: 26px; font-weight: bold;">Endah Ermasari</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <div class="col-md-6">
          <div class="row">
            <h1 class="card3-man-title" style="margin-left: 150px;">Manager</h1>
          </div>
          <div class="row">
            <div style="margin-left: 150px;">
              <div class="card3">
                <img
                  class="card3__background"
                  src="/static/assets/img/theme/TIM/hrdfaisal.jpg"
                  alt=""
                />
                <div class="card3__content | flow">
                  <div class="card3__content--container | flow">
                    <!-- <h2 class="card3__title">Lucky</h2> -->
                    <h2 class="card3__title"></h2>
                    <p class="card3__description">
                      <span style="font-size: 26px; font-weight: bold;">Faisal Roza</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     

      <!-------------------- END GM -------------------->

  
      <!-------------------- RECRUITMENT -------------------->
      <div class="row mt-5">
        <h1 class="card3-man-title">Recruitment and Selection</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdlucky.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <!-- <h2 class="card3__title">Lucky</h2> -->
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Lucky</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdrieta.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rieta</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdanisah.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Anisah</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END RECRUITMENT -------------------->
  
  
      <!-------------------- TRAINING -------------------->
      <div class="row" style="margin-top: -430px;">
        <h1 class="card3-man-title">Training and Development</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdari.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Taufik Ari</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdpuspa.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Puspa</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdboby.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Boby</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdhusni1.png"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Husni</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END TRAINING -------------------->
  
  
  
      <!-------------------- MEDICAL & WELFARE -------------------->
      <div class="row " style="margin-top: -430px;">
        <h1 class="card3-man-title">Medical & Welfare</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdlinda.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Linda</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdrizkia.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rizkia</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdwisna3.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Wisna</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdrudi.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Rudi</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-------------------- END MEDICAL & WELFARE -------------------->

      <!-------------------- PAYROLL & ADMINISTRATION -------------------->
      <div class="row " style="margin-top: -430px;">
        <h1 class="card3-man-title">INDUSTRIAL RELATIONS & HR ADMINISTRATION</h1>
        <div class="col-md-10 mx-auto layout-nogutters">
		<div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdgilang.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Gilang</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdsekar.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Sekar</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
		 
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdmanda.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Amanda</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdera.png"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Era</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row " style="margin-top: -500px;">
        <div class="col-md-10 mx-auto layout-nogutters2">
		<div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdzahra.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Zahra</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdmila1.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Milla</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card3">
              <img
                class="card3__background"
                src="/static/assets/img/theme/TIM/hrdanna.jpg"
                alt=""
              />
              <div class="card3__content | flow">
                <div class="card3__content--container | flow">
                  <h2 class="card3__title"></h2>
                  <p class="card3__description">
                    <span style="font-size: 26px; font-weight: bold;">Ana</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------------- END PAYROLL & ADMINISTRATION -------------------->

    </div>
    

      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>

    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
