{% extends 'layouts/d_base.html' %}

{% block title %} Tambah Menu {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Menu</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tambah</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Daftar Menu</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Form Start -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Nama Menu Field -->
                <div class="form-group">
                  <label for="nama_file">Nama Menu</label>
                  <input type="text" class="form-control" id="nama_file" name="nama_file" required>
                </div>

                <!-- File Upload Field -->
                <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- Form End -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}
