{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    User Login
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{% static 'assets/img/brand/yamaha-logo-3870.png' %}" type="image/png">

  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">

  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-secondary">
  <div class="main-content" id="panel">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center my-5">
      <div class="col-md-3">
        <div class="card shadow"> 
          <div class="card-body text-center">
            <!-- Add your image here -->
            <img src="{% static 'assets/img/theme/login.png' %}" alt="Brand Logo" class="img-fluid mb-3" style="max-width: 25%; height: auto;">
  
            <!-- Title and subtitle -->
            <h2 class="text-muted mb-2">Login</h2>
            <p class="text-muted">Silahkan login untuk melanjutkan</p>
  
        
            
            <form method="POST">

              {% csrf_token %}

              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password }}
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Sign in</button>
              </div>
            </form>
  
            <div class="text-center">
              <a href="{% url 'register' %}" class="btn btn-neutral my-4">Register</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <script src="{% static 'assets/js/argon.js' %}"></script>

</body>

</html>
