{% extends 'layouts/d_base.html' %}

{% block title %} Tambah Prosedur {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Prosedur</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tambah</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Daftar Prosedur</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <!-- Form Start -->
              <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                  <label for="nama">Nama:</label>
                  <input type="text" class="form-control" id="nama" name="nama" required>
                </div>

                <div class="form-group">
                  <label for="januari">Januari:</label>
                  <input type="number" step="0.1" class="form-control" id="januari" name="januari" required>
                </div>
                <div class="form-group">
                  <label for="februari">Februari:</label>
                  <input type="number" step="0.1" class="form-control" id="februari" name="februari" required>
                </div>
                <div class="form-group">
                  <label for="maret">Maret:</label>
                  <input type="number" step="0.1" class="form-control" id="maret" name="maret" required>
                </div>
                <div class="form-group">
                  <label for="april">April:</label>
                  <input type="number" step="0.1" class="form-control" id="april" name="april" required>
                </div>
                <div class="form-group">
                  <label for="mei">Mei:</label>
                  <input type="number" step="0.1" class="form-control" id="mei" name="mei" required>
                </div>
                <div class="form-group">
                  <label for="juni">Juni:</label>
                  <input type="number" step="0.1" class="form-control" id="juni" name="juni" required>
                </div>
                <div class="form-group">
                  <label for="juli">Juli:</label>
                  <input type="number" step="0.1" class="form-control" id="juli" name="juli" required>
                </div>
                <div class="form-group">
                  <label for="agustus">Agustus:</label>
                  <input type="number" step="0.1" class="form-control" id="agustus" name="agustus" required>
                </div>
                <div class="form-group">
                  <label for="september">September:</label>
                  <input type="number" step="0.1" class="form-control" id="september" name="september" required>
                </div>
                <div class="form-group">
                  <label for="oktober">Oktober:</label>
                  <input type="number" step="0.1" class="form-control" id="oktober" name="oktober" required>
                </div>
                <div class="form-group">
                  <label for="november">November:</label>
                  <input type="number" step="0.1" class="form-control" id="november" name="november" required>
                </div>
                <div class="form-group">
                  <label for="desember">Desember:</label>
                  <input type="number" step="0.1" class="form-control" id="desember" name="desember" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- Form End -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
{% endblock javascripts %}
