{% extends 'layouts/base.html' %}

{% block title %} Indeks Kehadiran {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card card-stats">
            <div class="card-body">
              <h1>Tambah Indeks Kehadiran</h1>
              <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                  <label for="nama">Nama:</label>
                  <input type="text" class="form-control" id="nama" name="nama" required>
                </div>

                <div class="form-group">
                  <label for="januari">Januari:</label>
                  <input type="number" step="0.1" class="form-control" id="januari" name="januari" required>
                </div>
                <div class="form-group">
                  <label for="februari">Februari:</label>
                  <input type="number" step="0.1" class="form-control" id="februari" name="februari" required>
                </div>
                <div class="form-group">
                  <label for="maret">Maret:</label>
                  <input type="number" step="0.1" class="form-control" id="maret" name="maret" required>
                </div>
                <div class="form-group">
                  <label for="april">April:</label>
                  <input type="number" step="0.1" class="form-control" id="april" name="april" required>
                </div>
                <div class="form-group">
                  <label for="mei">Mei:</label>
                  <input type="number" step="0.1" class="form-control" id="mei" name="mei" required>
                </div>
                <div class="form-group">
                  <label for="juni">Juni:</label>
                  <input type="number" step="0.1" class="form-control" id="juni" name="juni" required>
                </div>
                <div class="form-group">
                  <label for="juli">Juli:</label>
                  <input type="number" step="0.1" class="form-control" id="juli" name="juli" required>
                </div>
                <div class="form-group">
                  <label for="agustus">Agustus:</label>
                  <input type="number" step="0.1" class="form-control" id="agustus" name="agustus" required>
                </div>
                <div class="form-group">
                  <label for="september">September:</label>
                  <input type="number" step="0.1" class="form-control" id="september" name="september" required>
                </div>
                <div class="form-group">
                  <label for="oktober">Oktober:</label>
                  <input type="number" step="0.1" class="form-control" id="oktober" name="oktober" required>
                </div>
                <div class="form-group">
                  <label for="november">November:</label>
                  <input type="number" step="0.1" class="form-control" id="november" name="november" required>
                </div>
                <div class="form-group">
                  <label for="desember">Desember:</label>
                  <input type="number" step="0.1" class="form-control" id="desember" name="desember" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
    </div>

    {% include "includes/footer.html" %}

{% endblock content %}
