{% extends 'layouts/d_base.html' %}

{% block title %} Update Kehadiran {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Kehadiran</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Update</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Update Kehadiran</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <!-- Form Start -->
              <form method="post">
                {% csrf_token %}

                <div class="form-group">
                  <label for="nama">Nama:</label>
                  <input type="text" class="form-control" id="nama" name="nama" value="{{ form.nama.value}}" required>
                </div>
                
                <div class="form-group">
                    <label for="prod_preparation_aluminium">PROD PREPARATION ALUMINIUM:</label>
                    <input type="number" step="0.1" class="form-control" id="prod_preparation_aluminium" name="prod_preparation_aluminium" value="{{ form.prod_preparation_aluminium.value}}">
                </div>
                
                <div class="form-group">
                    <label for="prod_preparation_steel">PROD PREPARATION STEEL:</label>
                    <input type="number" step="0.1" class="form-control" id="prod_preparation_steel" name="prod_preparation_steel" value="{{ form.prod_preparation_steel.value}}">
                </div>
                
                <div class="form-group">
                    <label for="head_cylinder_piston_production_ged3">HEAD CYLINDER & PISTON PRODUCTION - GED #3:</label>
                    <input type="number" step="0.1" class="form-control" id="head_cylinder_piston_production_ged3" name="head_cylinder_piston_production_ged3" value="{{ form.head_cylinder_piston_production_ged3.value}}">
                </div>
                
                <div class="form-group">
                    <label for="gear_axle_production_ged4">GEAR AXLE PRODUCTION - GED #4:</label>
                    <input type="number" step="0.1" class="form-control" id="gear_axle_production_ged4" name="gear_axle_production_ged4" value="{{ form.gear_axle_production_ged4.value}}">
                </div>
                
                <div class="form-group">
                    <label for="crank_shaft_production_ged5">CRANK SHAFT PRODUCTION - GED #5:</label>
                    <input type="number" step="0.1" class="form-control" id="crank_shaft_production_ged5" name="crank_shaft_production_ged5" value="{{ form.crank_shaft_production_ged5.value}}">
                </div>
                
                <div class="form-group">
                    <label for="quality_assurance">Quality Assurance:</label>
                    <input type="number" step="0.1" class="form-control" id="quality_assurance" name="quality_assurance" value="{{ form.quality_assurance.value}}">
                </div>
                
                <div class="form-group">
                    <label for="finance">Finance:</label>
                    <input type="number" step="0.1" class="form-control" id="finance" name="finance" value="{{ form.finance.value}}">
                </div>
                
                <div class="form-group">
                    <label for="die_casting_wheel_gedung2">Die Casting Wheel - Gedung #2:</label>
                    <input type="number" step="0.1" class="form-control" id="die_casting_wheel_gedung2" name="die_casting_wheel_gedung2" value="{{ form.die_casting_wheel_gedung2.value}}">
                </div>
                
                <div class="form-group">
                    <label for="tools_center">Tools Center:</label>
                    <input type="number" step="0.1" class="form-control" id="tools_center" name="tools_center" value="{{ form.tools_center.value}}">
                </div>
                
                <div class="form-group">
                  <label for="plant_2_production">Plant-2 Production:</label>
                  <input type="number" step="0.1" class="form-control" id="plant_2_production" name="plant_2_production" value="{{ form.plant_2_production.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_engineering_aluminium_1">Production Engineering Aluminium #1:</label>
                    <input type="number" step="0.1" class="form-control" id="production_engineering_aluminium_1" name="production_engineering_aluminium_1" value="{{ form.production_engineering_aluminium_1.value}}">
                </div>
                
                <div class="form-group">
                    <label for="machining_painting_wheel_gedung1">Machining & Painting Wheel - Gedung #1:</label>
                    <input type="number" step="0.1" class="form-control" id="machining_painting_wheel_gedung1" name="machining_painting_wheel_gedung1" value="{{ form.machining_painting_wheel_gedung1.value}}">
                </div>
                
                <div class="form-group">
                    <label for="purchasing">Purchasing:</label>
                    <input type="number" step="0.1" class="form-control" id="purchasing" name="purchasing" value="{{ form.purchasing.value}}">
                </div>
                
                <div class="form-group">
                    <label for="mtc_operation">MTC Operation:</label>
                    <input type="number" step="0.1" class="form-control" id="mtc_operation" name="mtc_operation" value="{{ form.mtc_operation.value}}">
                </div>
                
                <div class="form-group">
                    <label for="quality_engineering">Quality Engineering:</label>
                    <input type="number" step="0.1" class="form-control" id="quality_engineering" name="quality_engineering" value="{{ form.quality_engineering.value}}">
                </div>
                
                <div class="form-group">
                    <label for="quality_control">Quality Control:</label>
                    <input type="number" step="0.1" class="form-control" id="quality_control" name="quality_control" value="{{ form.quality_control.value}}">
                </div>
                
                <div class="form-group">
                    <label for="hrd">HRD:</label>
                    <input type="number" step="0.1" class="form-control" id="hrd" name="hrd" value="{{ form.hrd.value}}">
                </div>
                
                <div class="form-group">
                    <label for="general_affairs">General Affairs:</label>
                    <input type="number" step="0.1" class="form-control" id="general_affairs" name="general_affairs" value="{{ form.general_affairs.value}}">
                </div>
                
                <div class="form-group">
                    <label for="gravity_die_casting_wheel_gd6">Gravity & Die Casting Wheel - GD #6:</label>
                    <input type="number" step="0.1" class="form-control" id="gravity_die_casting_wheel_gd6" name="gravity_die_casting_wheel_gd6" value="{{ form.gravity_die_casting_wheel_gd6.value}}">
                </div>
              
                <div class="form-group">
                  <label for="quality_safety_environment_qse">Quality, Safety & Environment (quality_safety_environment_qse):</label>
                  <input type="number" step="0.1" class="form-control" id="quality_safety_environment_qse" name="quality_safety_environment_qse" value="{{ form.quality_safety_environment_qse.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_engineering_aluminium_2">Production Engineering Aluminium #2:</label>
                    <input type="number" step="0.1" class="form-control" id="production_engineering_aluminium_2" name="production_engineering_aluminium_2" value="{{ form.production_engineering_aluminium_2.value}}">
                </div>
                
                <div class="form-group">
                    <label for="mtc_engineering">MTC Engineering:</label>
                    <input type="number" step="0.1" class="form-control" id="mtc_engineering" name="mtc_engineering" value="{{ form.mtc_engineering.value}}">
                </div>
                
                <div class="form-group">
                    <label for="value_innovation">Value Innovation:</label>
                    <input type="number" step="0.1" class="form-control" id="value_innovation" name="value_innovation" value="{{ form.value_innovation.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_engineering_steel_2">Production Engineering Steel #2:</label>
                    <input type="number" step="0.1" class="form-control" id="production_engineering_steel_2" name="production_engineering_steel_2" value="{{ form.production_engineering_steel_2.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_common">Production Common:</label>
                    <input type="number" step="0.1" class="form-control" id="production_common" name="production_common" value="{{ form.production_common.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_planning">Production Planning:</label>
                    <input type="number" step="0.1" class="form-control" id="production_planning" name="production_planning" value="{{ form.production_planning.value}}">
                </div>
                
                <div class="form-group">
                    <label for="inventory_control">Inventory Control:</label>
                    <input type="number" step="0.1" class="form-control" id="inventory_control" name="inventory_control" value="{{ form.inventory_control.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_delivery_control">Production & Delivery Control:</label>
                    <input type="number" step="0.1" class="form-control" id="production_delivery_control" name="production_delivery_control" value="{{ form.production_delivery_control.value}}">
                </div>
                
                <div class="form-group">
                    <label for="production_engineering_steel_1">Production Engineering Steel #1:</label>
                    <input type="number" step="0.1" class="form-control" id="production_engineering_steel_1" name="production_engineering_steel_1" value="{{ form.production_engineering_steel_1.value}}">
                </div>
              

                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- Form End -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}
