{% extends 'layouts/d_base.html' %}

{% block title %} Daftar Kehadiran {% endblock title %}

{% block content %}
    <!-- Header -->
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                              <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kehadiran</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="mb-0">Daftar Kehadiran</h3>
                      </div>
                      <div class="col text-right">
                        <a href="{% url 'information:grafik_create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Tambah Baru</a>
                      </div>
                    </div>
                  </div>
                    <div class="card-body">
                      <div class="table-responsive" >
              
                        <table class="table">
                          <thead class="table-head-bg">
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Januari</th>
                                        <th>Februari</th>
                                        <th>Maret</th>
                                        <th>April</th>
                                        <th>Mei</th>
                                        <th>Juni</th>
                                        <th>Juli</th>
                                        <th>Agustus</th>
                                        <th>September</th>
                                        <th>Oktober</th>
                                        <th>November</th>
                                        <th>Desember</th>
                                        <th>Created at</th>
                                        <th>Update at</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in grafik %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td> <!-- No urut -->
                                            <td>{{ data.nama }}</td>
                                            <td>{{ data.januari }}</td>
                                            <td>{{ data.februari }}</td>
                                            <td>{{ data.maret }}</td>
                                            <td>{{ data.april }}</td>
                                            <td>{{ data.mei }}</td>
                                            <td>{{ data.juni }}</td>
                                            <td>{{ data.juli }}</td>
                                            <td>{{ data.agustus }}</td>
                                            <td>{{ data.september }}</td>
                                            <td>{{ data.oktober }}</td>
                                            <td>{{ data.november }}</td>
                                            <td>{{ data.desember }}</td>
                                            <td>{{ data.created_at }}</td>
                                            <td>{{ data.updated_at }}</td>
                                            <td>
                                              <!-- Action Buttons -->
                                              <a href="{% url 'information:grafik_update' data.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</a>
                                              <a href="{% url 'information:grafik_delete' data.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this schedule?');"><i class="fas fa-trash"></i> Delete</a>
                                          </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="14">Tidak ada data kehadiran yang tersedia.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}
    </div>
{% endblock content %}
