{% extends 'layouts/d_base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Daftar Prosedur</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="nama_form">Nama Form:</label>
                    <input type="text" class="form-control" id="nama_form" name="nama_form" value="{{ form.nama_form }}" required>
                </div>
                
                <div class="form-group">
                    <label for="no_form">No Form:</label>
                    <input type="text" class="form-control" id="no_form" name="no_form" value="{{ form.no_form }}" required>
                </div>
                
                <div class="form-group">
                    <label for="category_form">Kategori Form:</label>
                    <input type="text" class="form-control" id="category_form" name="category_form" value="{{ form.category_form }}" required>
                </div>

                <div class="form-group">
                    <label for="file_upload">File Upload:</label>
                    <input type="file" class="form-control-file" id="file_upload" name="file_upload">
                    {% if form.file_upload %}
                        <small>Current file: {{ form.file_upload }}</small>
                    {% endif %}
                </div>
                
                <button type="submit" class="btn btn-primary">Update</button>
              </form>   
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}
