{% extends 'layouts/base.html' %}

{% block title %}List Requset Training{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row py-4">
                    <div class="col-lg-12" style="text-align: right;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
        <div class="row">
            <div class="col-md-10 mx-auto" style="margin-bottom: 150px;">
                <div class="card card-stats">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                          <div class="col">
                            <h3 class="mb-0">List Requset Training</h3>
                          </div>
                          <div class="col text-right">
                            <a href="{% url 'request_training:request_training_user' %}" class="btn btn-sm btn-primary">
                              <i class="fas fa-plus"></i> Tambah Baru
                            </a>
                          </div>
                        </div>
                      </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="table-head-bg">
                                <tr>
                                    <th>Requestor</th>
                                    <th>Topic</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for training in trainings %}
                                    <tr>
                                        <td>{{ training.requestor.username }}</td>
                                        <td>{{ training.topic }}</td>
                                        <td>{{ training.date }}</td>
                                        <td>{{ training.status }}</td>
                                        
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No training requests available.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
    </div>
    {% include "includes/footer.html" %}

{% endblock content %}
