{% extends 'layouts/base.html' %}

{% block title %}Request Training{% endblock title %}

{% block stylesheets %}
<style>
    /* Custom styles for the popover */
    .popover {
        max-width: none; /* Remove max width restriction */
        padding: 10px; /* Set padding as needed */
    }

    /* Optional: Specific styles for the popover body */
    .popover-body {
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflow if content is too long */
        text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    }
</style>
{% endblock stylesheets %}

{% load static %}

{% block content %}
<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row py-4">
                <div class="col-lg-12" style="text-align: right;">
                    <!-- Optional header buttons can go here -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6 bg-white">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card card-stats">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        


                        <!-- Requestor and User Details -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_requestor">Requestor (NIK):</label>
                                <span class="text-muted text-sm"> (PIC yang mengajukan adalah GF/Spv atau Admin)</span>
                                <input type="text" class="form-control{% if training_form.requestor_username.errors %} is-invalid{% endif %}" 
                                       id="id_requestor" name="requestor_username" oninput="fetchUserDetails(this.value)">
                                <div id="user-details" class="user-details"></div>
                                {% for error in training_form.requestor_username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group col-md-6">
                                <label for="id_full_name">Full Name:</label>
                                <input type="text" class="form-control" id="id_full_name" name="full_name" readonly>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_department">Department:</label>
                                <input type="text" class="form-control" id="id_department" name="department" readonly>
                            </div>
                        
                            <div class="form-group col-md-6">
                                <label for="id_cc">CC:</label>
                                <input type="text" class="form-control" id="id_cc" name="cc" readonly>
                            </div>
                        </div>
                        
                        

                        <!-- Training Details -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_topic">Topik:</label>
                                <input type="text" class="form-control{% if training_form.topic.errors %} is-invalid{% endif %}" id="id_topic" name="topic">
                                {% for error in training_form.topic.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group col-md-6">
                                <label for="id_trainer">Trainer:</label><span class="text-muted text-sm"> (Nama Trainer/ Vendor/ Consultant. Isi " - " jika belum dapat)</span>
                                <input type="text" class="form-control{% if training_form.trainer.errors %} is-invalid{% endif %}" id="id_trainer" name="trainer">
                                {% for error in training_form.trainer.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_background">Latar Belakang:</label>
                                <textarea class="form-control{% if training_form.background.errors %} is-invalid{% endif %}" id="id_background" name="background"></textarea>
                                {% for error in training_form.background.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_participants">Peserta:</label><!-- <span class="text-muted text-sm">(NIK Nama CC Target)</span>-->
                                
                                <button type="button" class="btn btn-primary btn-sm fw-bold" 
                                        data-container="body" data-toggle="popover" data-html="true" 
                                        data-placement="top" 
                                        data-content="(NIK Nama CC Target)<br>XN1234 NAMA PESERTA 9001 MAMPU ....." 
                                        onclick="customizePopover(this)">
                                info
                                </button>

                                <textarea class="form-control{% if training_form.participants.errors %} is-invalid{% endif %}" id="id_participants" name="participants"></textarea>
                                {% for error in training_form.participants.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="id_date">Tanggal Mulai:</label>
                                <input type="date" class="form-control{% if training_form.date.errors %} is-invalid{% endif %}" id="id_date" name="date" value="{{ training_form.date.value }}">
                                {% for error in training_form.date.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_date_end">Tanggal Selesai:</label>
                                <input type="date" class="form-control{% if training_form.date_end.errors %} is-invalid{% endif %}" id="id_date_end" name="date_end" value="{{ training_form.date_end.value }}">
                                {% for error in training_form.date_end.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_jenis">Jenis:</label>
                                <select class="form-control{% if training_form.jenis.errors %} is-invalid{% endif %}" id="id_jenis" name="jenis">
                                    {% for choice in training_form.jenis.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == training_form.jenis.value %}selected{% endif %}>
                                            {% if choice.0 == '1' %}
                                                {{ choice.1 }} = Jika trainer berasal dari internal YPMI
                                            {% elif choice.0 == '2' %}
                                                {{ choice.1 }} = Jika trainer berasal dari Eksternal YPMI
                                            {% else %}
                                                {{ choice.1 }}
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for error in training_form.jenis.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_cost">Biaya:</label>

                                <button type="button" class="btn btn-primary btn-sm fw-bold" 
                                        data-container="body" data-toggle="popover" data-html="true" 
                                        data-placement="top" 
                                        data-content="Estimasi biaya yang di inginkan <br>Contoh : Rp. 2.000.000" 
                                        onclick="customizePopover(this)">
                                info
                                </button>

                                <input type="text" class="form-control{% if training_form.cost.errors %} is-invalid{% endif %}" id="id_cost" name="cost" value="{{ training_form.cost.value }}">
                                {% for error in training_form.cost.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_evaluation_level">Level Evaluasi:</label>
                                <select class="form-control{% if training_form.evaluation_level.errors %} is-invalid{% endif %}" 
                                        id="id_evaluation_level" name="evaluation_level">
                                    {% for choice in training_form.evaluation_level.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == training_form.evaluation_level.value %}selected{% endif %}>
                                            {% if choice.0 == '1' %}
                                                {{ choice.1 }} = Kesan umum terhadap pelaksanaan Training
                                            {% elif choice.0 == '2' %}
                                                {{ choice.1 }} = Penambahan pengetahuan akibat pelaksanaan Training
                                            {% elif choice.0 == '3' %}
                                                {{ choice.1 }} = Penerapan hasil Training di tempat kerja
                                            {% else %}
                                                {{ choice.1 }}
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for error in training_form.evaluation_level.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="flyer">Flyer:</label>
                                <span class="text-muted text-sm">(Di isi jika Training Eksternal)</span>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input{% if training_form.flyer.errors %} is-invalid{% endif %}" id="flyer" name="flyer">
                                    <label class="custom-file-label" for="flyer">Choose file</label>
                                    
                                    {% for error in training_form.flyer.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="id_pic_trainings" name="pic_trainings" >
                        <input type="hidden" name="hrd_manager" value="{{ hrd_manager.id }}">
                        <input type="hidden" id="id_manager" name="manager" >
                        <input type="hidden" id="id_gm" name="gm" >



                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "includes/footer.html" %}
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/components/init/popover.min.js' %}"></script>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        $('[data-toggle="popover"]').popover();
      });
    
      function customizePopover(button) {
        $(button).popover('show');
        setTimeout(() => {
          const popoverElement = document.querySelector('.popover');
          if (popoverElement) {
            popoverElement.style.maxWidth = 'auto';  // Allow width to fit content
            popoverElement.style.whiteSpace = 'nowrap'; // Prevent wrapping
          }
        }, 100); // Wait briefly for the popover to render
      }


    function fetchUserDetails(username) {
        if (username.length !== 7) return;
    
        fetch(`/forms/permintaan_training/fetch_user_details/?username=${username}`)
            .then(response => response.text())
            .then(data => {
                const userDetailsDiv = document.getElementById('user-details');
                userDetailsDiv.innerHTML = '';
                const userDetails = data.split('|');
    
                if (userDetails.length === 3) {
                    document.getElementById('id_full_name').value = userDetails[0];
                    document.getElementById('id_department').value = userDetails[1];
                    document.getElementById('id_cc').value = userDetails[2];
                } else {
                    userDetailsDiv.innerHTML = '<p>User not found</p>';
                    document.getElementById('id_full_name').value = '';
                    document.getElementById('id_department').value = '';
                    document.getElementById('id_cc').value = '';
                }
            })
            .catch(error => {
                console.error('Error fetching user details:', error);
                document.getElementById('user-details').innerHTML = '<p>Error fetching user details</p>';
            });
    }

    document.getElementById('id_jenis').addEventListener('change', function () {
        const jenisValue = this.value;
        const picTrainingsInput = document.getElementById('id_pic_trainings');
    
        if (jenisValue === '1') {
            picTrainingsInput.value = 'RL20155';  // Internal
        } else if (jenisValue === '2') {
            picTrainingsInput.value = 'XN09542';  // External
        }
    });

        
</script>

{% endblock content %}
