{% extends 'layouts/base.html' %}

{% block title %}Request Training{% endblock title %}

{% block stylesheets %}
<!-- Specific CSS can be added here -->
{% endblock stylesheets %}

{% block content %}
<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row py-4">
                <div class="col-lg-12" style="text-align: right;">
                    <!-- Optional header buttons can go here -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6 bg-white">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card card-stats">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Hidden Field for HRD Manager -->
                        <input type="hidden" name="hrd_manager" value="3">

                        <!-- Requestor and User Details -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_requestor">Requestor (NIK):</label><span class="text-muted text-sm"> (PIC yang mengajukan adalah GF/Spv atau Admin)</span>
                                <input type="text" class="form-control{% if training_form.requestor_nik.errors %} is-invalid{% endif %}" id="id_requestor" name="requestor_nik" oninput="fetchUserDetails(this.value)">
                                <div id="user-details" class="user-details"></div>
                                {% for error in training_form.requestor_nik.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_full_name">Full Name:</label>
                                <input type="text" class="form-control" id="id_full_name" name="full_name" readonly>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_department">Department:</label>
                                <input type="text" class="form-control" id="id_department" name="department" readonly>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_cc">CC:</label>
                                <input type="text" class="form-control" id="id_cc" name="cc" readonly>
                            </div>
                        </div>

                        <!-- Training Details -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_topic">Topik:</label>
                                <input type="text" class="form-control{% if training_form.topic.errors %} is-invalid{% endif %}" id="id_topic" name="topic">
                                {% for error in training_form.topic.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group col-md-6">
                                <label for="id_trainer">Trainer:</label><span class="text-muted text-sm"> (Nama Trainer/ Vendor/ Consultant. Isi " - " jika belum dapat)</span>
                                <input type="text" class="form-control{% if training_form.trainer.errors %} is-invalid{% endif %}" id="id_trainer" name="trainer">
                                {% for error in training_form.trainer.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_background">Latar Belakang:</label>
                                <textarea class="form-control{% if training_form.background.errors %} is-invalid{% endif %}" id="id_background" name="background"></textarea>
                                {% for error in training_form.background.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="id_participants">Peserta:</label> <span class="text-muted text-sm">(NIK Nama CC Target)</span>
                                <textarea class="form-control{% if training_form.participants.errors %} is-invalid{% endif %}" id="id_participants" name="participants"></textarea>
                                {% for error in training_form.participants.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="id_date">Tanggal Mulai:</label>
                                <input type="date" class="form-control{% if training_form.date.errors %} is-invalid{% endif %}" id="id_date" name="date" value="{{ training_form.date.value }}">
                                {% for error in training_form.date.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_date_end">Tanggal Selesai:</label>
                                <input type="date" class="form-control{% if training_form.date_end.errors %} is-invalid{% endif %}" id="id_date_end" name="date_end" value="{{ training_form.date_end.value }}">
                                {% for error in training_form.date_end.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>


                            <div class="form-group col-md-4">
                                <label for="id_location">Lokasi:</label>
                                <input type="text" class="form-control{% if training_form.location.errors %} is-invalid{% endif %}" id="id_location" name="location">
                                {% for error in training_form.location.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_cost">Biaya:</label>
                                <input type="number" step="0.01" class="form-control{% if training_form.cost.errors %} is-invalid{% endif %}" id="id_cost" name="cost" value="{{ training_form.cost.value }}">
                                {% for error in training_form.cost.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_evaluation_level">Level Evaluasi:</label>
                                <select class="form-control{% if training_form.evaluation_level.errors %} is-invalid{% endif %}" id="id_evaluation_level" name="evaluation_level">
                                    {% for choice in training_form.evaluation_level.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == training_form.evaluation_level.value %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in training_form.evaluation_level.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="flyer">Flyer:</label>
                                <span class="text-muted text-sm">(Di isi jika Training Eksternal)</span>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input{% if training_form.flyer.errors %} is-invalid{% endif %}" id="flyer" name="flyer">
                                    <label class="custom-file-label" for="flyer">Choose file</label>
                                    
                                    {% for error in training_form.flyer.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <!-- Remarks Section -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id_gm">GM:</label>
                                <select class="form-control{% if training_form.gm.errors %} is-invalid{% endif %}" id="id_gm" name="gm">
                                    {% for choice in training_form.gm.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == training_form.gm.value %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in training_form.gm.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-6">
                                <label for="id_manager">Manager:</label>
                                <select class="form-control{% if training_form.manager.errors %} is-invalid{% endif %}" id="id_manager" name="manager">
                                    {% for choice in training_form.manager.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == training_form.manager.value %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in training_form.manager.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}


<script>


    function fetchUserDetails(nik) {
        if (nik.length !== 7) return;
    
        fetch(`/forms/permintaan_training/fetch_user_details/?nik=${nik}`)
            .then(response => response.text())
            .then(data => {
                const userDetailsDiv = document.getElementById('user-details');
                userDetailsDiv.innerHTML = '';
                const userDetails = data.split('|');
    
                if (userDetails.length === 3) {
                    document.getElementById('id_full_name').value = userDetails[0];
                    document.getElementById('id_department').value = userDetails[1];
                    document.getElementById('id_cc').value = userDetails[2];
                } else {
                    userDetailsDiv.innerHTML = '<p>User not found</p>';
                    document.getElementById('id_full_name').value = '';
                    document.getElementById('id_department').value = '';
                    document.getElementById('id_cc').value = '';
                }
            })
            .catch(error => {
                console.error('Error fetching user details:', error);
                document.getElementById('user-details').innerHTML = '<p>Error fetching user details</p>';
            });
    }
</script>

{% endblock content %}
