{% extends 'layouts/d_base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Daftar Prosedur</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.image.id_for_label }}">Image</label>
                  {{ form.image }}
                </div>
                <div class="form-group">
                  <label for="{{ form.judulKegiatan.id_for_label }}">Judul Kegiatan</label>
                  {{ form.judulKegiatan }}
                </div>
                <div class="form-group">
                  <label for="{{ form.deskripsi.id_for_label }}">Deskripsi</label>
                  {{ form.deskripsi }}
                </div>
                <div class="form-group">
                  <label for="{{ form.tanggal.id_for_label }}">Tanggal</label>
                  {{ form.tanggal }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
{% endblock javascripts %}
