{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row py-4">
                    <div class="col-lg-12 text-right">
                        <!-- Optional header content -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card card-stats">
                    <div class="card-body">
                        <!-- Tabs for different categories -->
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-Recruitment-tab" data-toggle="pill" data-target="#pills-Recruitment" type="button" role="tab" aria-controls="pills-Recruitment" aria-selected="true">Recruitment & Selection</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-Training-tab" data-toggle="pill" data-target="#pills-Training" type="button" role="tab" aria-controls="pills-Training" aria-selected="false">Training & Development</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-Medical-tab" data-toggle="pill" data-target="#pills-Medical" type="button" role="tab" aria-controls="pills-Medical" aria-selected="false">Medical & Welfare</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-Legal-tab" data-toggle="pill" data-target="#pills-Legal" type="button" role="tab" aria-controls="pills-Legal" aria-selected="false">Legal</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-Payroll-tab" data-toggle="pill" data-target="#pills-Payroll" type="button" role="tab" aria-controls="pills-Payroll" aria-selected="false">Payroll & Administration</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">

                            <!-- Recruitment Tab -->
                            <div class="tab-pane fade show active" id="pills-Recruitment" role="tabpanel" aria-labelledby="pills-Recruitment-tab">
                                <div class="table-responsive">
                                    <h1 class="table-label">List Prosedur dan Ketentuan Section Recruitment</h1>
                                    <table class="table">
                                        <thead class="table-head-bg">
                                            <tr>
                                                <th>NO</th>
                                                <th>Nama Prosedur</th>
                                                <th>No Prosedur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prosedur in daftar_prosedur %}
                                                {% if prosedur.kategori == "Recruitment & Selection" %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ prosedur.nama }}</td>
                                                        <td>{{ prosedur.no_prosedur }}</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="{% url 'unduh_file_prosedur' prosedur.id %}" class="btn btn-primary mb-1">
                                                                    <i class="fas fa-download"></i>
                                                                </a>
                                                                <a href="{% url 'ubah_prosedur' prosedur.id %}" class="btn btn-info mb-1">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form method="post" action="{% url 'hapus_prosedur' prosedur.id %}" style="display: inline;">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No procedures available.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'buat_prosedur' %}" class="btn btn-success mt-3">
                                        <i class="fas fa-plus"></i> Add New
                                    </a>
                                </div>
                            </div>

                            <!-- Training Tab -->
                            <div class="tab-pane fade" id="pills-Training" role="tabpanel" aria-labelledby="pills-Training-tab">
                                <div class="table-responsive">
                                    <h1 class="table-label">List Prosedur dan Ketentuan Section Training</h1>
                                    <table class="table">
                                        <thead class="table-head-bg">
                                            <tr>
                                                <th>NO</th>
                                                <th>Nama Prosedur</th>
                                                <th>No Prosedur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prosedur in daftar_prosedur %}
                                                {% if prosedur.kategori == "Training & Development" %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ prosedur.nama }}</td>
                                                        <td>{{ prosedur.no_prosedur }}</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="{% url 'unduh_file_prosedur' prosedur.id %}" class="btn btn-primary mb-1">
                                                                    <i class="fas fa-download"></i>
                                                                </a>
                                                                <a href="{% url 'ubah_prosedur' prosedur.id %}" class="btn btn-info mb-1">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form method="post" action="{% url 'hapus_prosedur' prosedur.id %}" style="display: inline;">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No procedures available.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'buat_prosedur' %}" class="btn btn-success mt-3">
                                        <i class="fas fa-plus"></i> Add New
                                    </a>
                                </div>
                            </div>

                            <!-- Medical Tab -->
                            <div class="tab-pane fade" id="pills-Medical" role="tabpanel" aria-labelledby="pills-Medical-tab">
                                <div class="table-responsive">
                                    <h1 class="table-label">List Prosedur dan Ketentuan Section Medical & Welfare</h1>
                                    <table class="table">
                                        <thead class="table-head-bg">
                                            <tr>
                                                <th>NO</th>
                                                <th>Nama Prosedur</th>
                                                <th>No Prosedur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prosedur in daftar_prosedur %}
                                                {% if prosedur.kategori == "Medical & Welfare" %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ prosedur.nama }}</td>
                                                        <td>{{ prosedur.no_prosedur }}</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="{% url 'unduh_file_prosedur' prosedur.id %}" class="btn btn-primary mb-1">
                                                                    <i class="fas fa-download"></i>
                                                                </a>
                                                                <a href="{% url 'ubah_prosedur' prosedur.id %}" class="btn btn-info mb-1">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form method="post" action="{% url 'hapus_prosedur' prosedur.id %}" style="display: inline;">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No procedures available.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'buat_prosedur' %}" class="btn btn-success mt-3">
                                        <i class="fas fa-plus"></i> Add New
                                    </a>
                                </div>
                            </div>

                            <!-- Legal Tab -->
                            <div class="tab-pane fade" id="pills-Legal" role="tabpanel" aria-labelledby="pills-Legal-tab">
                                <div class="table-responsive">
                                    <h1 class="table-label">List Prosedur dan Ketentuan Section Legal</h1>
                                    <table class="table">
                                        <thead class="table-head-bg">
                                            <tr>
                                                <th>NO</th>
                                                <th>Nama Prosedur</th>
                                                <th>No Prosedur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prosedur in daftar_prosedur %}
                                                {% if prosedur.kategori == "Legal" %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ prosedur.nama }}</td>
                                                        <td>{{ prosedur.no_prosedur }}</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="{% url 'unduh_file_prosedur' prosedur.id %}" class="btn btn-primary mb-1">
                                                                    <i class="fas fa-download"></i>
                                                                </a>
                                                                <a href="{% url 'ubah_prosedur' prosedur.id %}" class="btn btn-info mb-1">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form method="post" action="{% url 'hapus_prosedur' prosedur.id %}" style="display: inline;">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No procedures available.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'buat_prosedur' %}" class="btn btn-success mt-3">
                                        <i class="fas fa-plus"></i> Add New
                                    </a>
                                </div>
                            </div>

                            <!-- Payroll Tab -->
                            <div class="tab-pane fade" id="pills-Payroll" role="tabpanel" aria-labelledby="pills-Payroll-tab">
                                <div class="table-responsive">
                                    <h1 class="table-label">List Prosedur dan Ketentuan Section Payroll & Administration</h1>
                                    <table class="table">
                                        <thead class="table-head-bg">
                                            <tr>
                                                <th>NO</th>
                                                <th>Nama Prosedur</th>
                                                <th>No Prosedur</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for prosedur in daftar_prosedur %}
                                                {% if prosedur.kategori == "Payroll & Administration" %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ prosedur.nama }}</td>
                                                        <td>{{ prosedur.no_prosedur }}</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="{% url 'unduh_file_prosedur' prosedur.id %}" class="btn btn-primary mb-1">
                                                                    <i class="fas fa-download"></i>
                                                                </a>
                                                                <a href="{% url 'ubah_prosedur' prosedur.id %}" class="btn btn-info mb-1">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                <form method="post" action="{% url 'hapus_prosedur' prosedur.id %}" style="display: inline;">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% empty %}
                                                <tr>
                                                    <td colspan="4">No procedures available.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="{% url 'buat_prosedur' %}" class="btn btn-success mt-3">
                                        <i class="fas fa-plus"></i> Add New
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
