{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <row>
        <div class="col-md-10 mx-auto">
          <div class="card card-stats">
            <div class="card-body">
              <!-- Light table -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-Recruitment-tab" data-toggle="pill" data-target="#pills-Recruitment" type="button" role="tab" aria-controls="pills-Recruitment" aria-selected="true">Recruitment & Selection</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Training-tab" data-toggle="pill" data-target="#pills-Training" type="button" role="tab" aria-controls="pills-Training" aria-selected="false">Training & Development</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Medical-tab" data-toggle="pill" data-target="#pills-Medical" type="button" role="tab" aria-controls="pills-Medical" aria-selected="false">Medical & Welfare</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Legal-tab" data-toggle="pill" data-target="#pills-Legal" type="button" role="tab" aria-controls="pills-Legal" aria-selected="false">Legal</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Payroll-tab" data-toggle="pill" data-target="#pills-Payroll" type="button" role="tab" aria-controls="pills-Payroll" aria-selected="false">Payroll & Administration</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">

                <!-- Light table Recruitment -->
                <div class="tab-pane fade show active" id="pills-Recruitment" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Prosedur dan Ketentuan Section Recruitment</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Prosedur</th>
                          <th>No Prosedur</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_prosedur == "Recruitment" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_prosedur }}</td>
                              <td>{{ form.no_prosedur }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file_prosedur' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                  <a href="{% url 'form_update_prosedur' form.id %}" class="btn btn-info mb-1">
                                    <i class="fas fa-edit"></i>
                                  </a>
                                  <form method="post" action="{% url 'form_delete_prosedur' form.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'form_create_prosedur' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>                  
                </div>

                <!-- Light table Training -->
                <div class="tab-pane fade" id="pills-Training" role="tabpanel" aria-labelledby="pills-Training-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Prosedur dan Ketentuan Section Training</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Prosedur</th>
                          <th>No Prosedur</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_prosedur == "Training" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_prosedur }}</td>
                              <td>{{ form.no_prosedur }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file_prosedur' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                  <a href="{% url 'form_update_prosedur' form.id %}" class="btn btn-info mb-1">
                                    <i class="fas fa-edit"></i>
                                  </a>
                                  <form method="post" action="{% url 'form_delete_prosedur' form.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'form_create_prosedur' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>                  
                </div>

                <!-- Light table Medical -->
                <div class="tab-pane fade" id="pills-Medical" role="tabpanel" aria-labelledby="pills-Medical-tab">
                  <div class="table-responsive">
                    <h1 class="table-label"+>List Prosedur dan Ketentuan Section Medical & Welfare</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Prosedur</th>
                          <th>No Prosedur</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_prosedur == "Medical & Welfare" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_prosedur }}</td>
                              <td>{{ form.no_prosedur }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file_prosedur' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                  <a href="{% url 'form_update_prosedur' form.id %}" class="btn btn-info mb-1">
                                    <i class="fas fa-edit"></i>
                                  </a>
                                  <form method="post" action="{% url 'form_delete_prosedur' form.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'form_create_prosedur' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>                  
                </div>

                <!-- Light table Legal -->
                <div class="tab-pane fade" id="pills-Legal" role="tabpanel" aria-labelledby="pills-Legal-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Prosedur dan Ketentuan Section Legal</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Prosedur</th>
                          <th>No Prosedur</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_prosedur == "Legal" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_prosedur }}</td>
                              <td>{{ form.no_prosedur }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file_prosedur' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                  <a href="{% url 'form_update_prosedur' form.id %}" class="btn btn-info mb-1">
                                    <i class="fas fa-edit"></i>
                                  </a>
                                  <form method="post" action="{% url 'form_delete_prosedur' form.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'form_create_prosedur' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>                  
                </div>

                <!-- Light table Payroll -->
                <div class="tab-pane fade" id="pills-Payroll" role="tabpanel" aria-labelledby="pills-Payroll-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Prosedur dan Ketentuan Section Payroll & Administration</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Prosedur</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_prosedur == "Payroll & Administration" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_prosedur }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file_prosedur' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                  <a href="{% url 'form_update_prosedur' form.id %}" class="btn btn-info mb-1">
                                    <i class="fas fa-edit"></i>
                                  </a>
                                  <form method="post" action="{% url 'form_delete_prosedur' form.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'form_create_prosedur' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </row>
      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
  
  
    </div>
    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
