{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Form HRD {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
{% endblock stylesheets %}
{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <row>
        <div class="col-md-10 mx-auto" style="margin-bottom: 150px;">
          <div class="card card-stats">
            <div class="card-body">
                <h1 class="header_page_label">Form HRD</h1>

                <div class="table-responsive">
                    <table id="formHardCopyTable" class="table">
                        <thead class="table-head-bg">
                            <tr>
                                <th>No</th>
                                <th>Nama Form</th>
                                <th>No Form</th>  
                                <th>Kategori Form</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in forms %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ form.nama_form }}</td>
                                    <td>{{ form.no_form }}</td>
                                    <td>{{ form.category_form }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'formHardCopy:form_hard_copy_download' form.id %}" class="btn btn-primary mb-1" target="_blank">
                                                <i class="fas fa-download"></i> Download
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7">No forms available.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </row>
      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
    </div>
    {% include "includes/footer.html" %}

{% endblock content %}
{% block javascripts %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#formHardCopyTable').DataTable({
            language: {
                lengthMenu: "Tampilkan _MENU_ entri",
                zeroRecords: "Tidak ditemukan data yang cocok",
                info: "Menampilkan halaman _PAGE_ dari _PAGES_",
                infoEmpty: "Tidak ada entri tersedia",
                infoFiltered: "(difilter dari _MAX_ total entri)",
                search: "Cari:",
                paginate: {
                    first: "Pertama",
                    last: "Terakhir",
                    next: "Selanjutnya",
                    previous: "Sebelumnya"
                }
            },
            ordering: true,
            paging: true,
            info: true,
            searching: true,
            responsive: true,
            autoWidth: true
        });
    });
</script>
{% endblock javascripts %}
