{% extends 'layouts/base.html' %}

{% block title %} Form HRD Hard Copy {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-white pb-6">
      <div class="container-fluid">
        
        <div class="header-body">
          <div class="row py-4">
            <div class="col-lg-12" style="text-align: right;">           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6 bg-white">
      <row>
        <div class="col-md-10 mx-auto" style="margin-bottom: 150px;">
          <div class="card card-stats">
            <div class="card-body">
              <!-- Light table -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-Recruitment-tab" data-toggle="pill" data-target="#pills-Recruitment" type="button" role="tab" aria-controls="pills-Recruitment" aria-selected="true">Recruitment & Selection</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link " id="pills-Training-tab" data-toggle="pill" data-target="#pills-Training" type="button" role="tab" aria-controls="pills-Training" aria-selected="true">Training and Development</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Legal-tab" data-toggle="pill" data-target="#pills-Legal" type="button" role="tab" aria-controls="pills-Legal" aria-selected="false">Legal</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Wellfare-tab" data-toggle="pill" data-target="#pills-Wellfare" type="button" role="tab" aria-controls="pills-Wellfare" aria-selected="false">Medical & Welfare</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-Attendance-tab" data-toggle="pill" data-target="#pills-Attendance" type="button" role="tab" aria-controls="pills-Attendance" aria-selected="false">Payroll & Administration</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">

                <!-- Light table Recruitment -->
                <div class="tab-pane fade show active" id="pills-Recruitment" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Form Recruitment & Selection</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Form</th>
                          <th>No Form</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for form in forms %}
                            {% if form.category_form == "Recruitment" %}
                                <tr>
                                  <td>{{ forloop.counter0|add:1 }}</td>
                                    <td>{{ form.nama_form }}</td>
                                    <td>{{ form.no_form }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'download_file' form.id %}" class="btn btn-primary mb-1">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                          {% empty %}
                          <tr>
                              <td colspan="4">No forms available.</td>
                          </tr>
                          {% endfor %}
                      </tbody>
        
                    </table>
                    <a href="{% url 'form_create' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                  
                </div>

                <!-- Light table Training -->
                <div class="tab-pane fade show " id="pills-Training" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Form Training and Development</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Form</th>
                          <th>No Form</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_form == "Training" %}
                            <tr>
                              <td>{{ forloop.counter0|add:1 }}</td>
                              <td>{{ form.nama_form }}</td>
                              <td>{{ form.no_form }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                    
                    <a href="{% url 'form_create' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                  
                </div>

                <!-- Light table Legal -->
                <div class="tab-pane fade" id="pills-Legal" role="tabpanel" aria-labelledby="pills-Legal-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Form Legal</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Form</th>
                          <th>No Form</th>
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_form == "Legal" %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ form.nama_form }}</td>
                              <td>{{ form.no_form }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                    <a href="{% url 'form_create' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>

                <!-- Light table Wellfare -->
                <div class="tab-pane fade" id="pills-Wellfare" role="tabpanel" aria-labelledby="pills-Wellfare-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Form Medical & Welfare</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Form</th>
                          <th>No Form</th>
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_form == "Wellfare" %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ form.nama_form }}</td>
                              <td>{{ form.no_form }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                    <a href="{% url 'form_create' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>

                <!-- Light table Attendance -->
                <div class="tab-pane fade" id="pills-Attendance" role="tabpanel" aria-labelledby="pills-Attendance-tab">
                  <div class="table-responsive">
                    <h1 class="table-label">List Form Payroll & Administration</h1>
                    <table class="table">
                      <thead class="table-head-bg">
                        <tr>
                          <th>NO</th>
                          <th>Nama Form</th>
                          <th>No Form</th>
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for form in forms %}
                          {% if form.category_form == "Attendance" %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ form.nama_form }}</td>
                              <td>{{ form.no_form }}</td>
                              <td>
                                <div class="d-flex">
                                  <a href="{% url 'download_file' form.id %}" class="btn btn-primary mb-1">
                                    <i class="fas fa-download"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          {% endif %}
                        {% empty %}
                          <tr>
                            <td colspan="4">No forms available.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    
                    <a href="{% url 'form_create' %}" class="btn btn-success mt-3">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </row>
      <a id="scrollToTop" href="#" title="Go to top"><i class="ni ni-bold-up"></i></a>
  
  
    </div>
    {% include "includes/footer.html" %}

{% endblock content %}

