{% extends 'layouts/d_base.html' %}

{% block title %} Tambah Jadwal Bus {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tambah Jadwal Bus</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Tambah Jadwal Bus</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <!-- Form Start -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="titik_start">Titik Start:</label>
                  <input type="text" class="form-control" id="titik_start" name="titik_start" required>
                </div>
                <div class="form-group">
                  <label for="plant">Plant:</label>
                  <select class="form-control" id="plant" name="plant" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="via">Via:</label>
                  <input type="text" class="form-control" id="via" name="via">
                </div>
                <div class="form-group">
                  <label for="seat">Seat:</label>
                  <input type="number" class="form-control" id="seat" name="seat">
                </div>
                <div class="form-group">
                  <label for="shift1">Shift 1:</label>
                  <input type="text" class="form-control" id="shift1" name="shift1">
                </div>
                <div class="form-group">
                  <label for="shift2">Shift 2:</label>
                  <input type="text" class="form-control" id="shift2" name="shift2">
                </div>
                <div class="form-group">
                  <label for="shift3">Shift 3:</label>
                  <input type="text" class="form-control" id="shift3" name="shift3">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>  
              <!-- Form End -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}
